In [675]:
import requests
import json
import pandas as pd
import time

# Running flask app from powershell
# $env:FLASK_APP = "api"
# $env:FLASK_ENV = "development"
# flask run

# Running flask from terminal on OSX
# export FLASK_APP=api
# export FLASK_ENV=development
# flask run

# Running with gunicorn (heroku, digitalocean, etc):
# Procfile >
# web: gunicorn wsgi --log-file -
# wsgi.py >
# from api import app as application
#
#if __name__ == "__main__":
#    application.run()

# https://devcenter.heroku.com/articles/getting-started-with-python
# https://www.digitalocean.com/community/tutorials/how-to-serve-flask-applications-with-gunicorn-and-nginx-on-ubuntu-14-04

In [676]:
# Set up heroku database > 
# heroku addons:create heroku-postgresql:hobby-dev
# Postgres db now up
# Look at config vars (should have DATABASE_URL) >
# heroku config
# Connect to remote psql > 
# heroku pg:psql
#

In [706]:
#  baseurl = 'https://vast-depths-89393.herokuapp.com/'
baseurl = 'https://glacial-hollows-90395.herokuapp.com/'
#baseurl = 'http://127.0.0.1:5000/'
# baseurl = 'http://127.0.0.1:7000/'

In [707]:
url = baseurl +'createUser'
headers = {'content-type': 'application/json'}
content = {}
response = requests.post(url, data=json.dumps(content), headers=headers)

In [708]:
response.json()

{'signingKey_hex': '29ba39f7fea00b2639839d7740e875e884cdb593da4b46af8d4d9af3cc212bf0',
 'traderId': '1',
 'verifyKey_hex': 'e6376aef9f29b5ba13d98f388a2463d42e58300a4438545e769dbfa2a7432f07'}

In [709]:
url = baseurl + 'createMarket'

mkRtId = 6
mkId=1
# copy from response
sk = response.json()['signingKey_hex']
vk = response.json()['verifyKey_hex']
tId = response.json()['traderId']

In [710]:
content_makemarket = {"signingKey_hex": sk,
                    "traderId": tId, 
                    "verifyKey_hex": vk,
                    "marketRootId": mkRtId, 
                    "marketBranchId": 1, 
                    "marketMin": 0,
                    "marketMax":1}

response = requests.post(url, data=json.dumps(content_makemarket), headers=headers)

In [711]:
pd.DataFrame(response.json(), index=[0])

  checks  marketBranchId  marketMax  marketMin  marketRootId traderId
0   True               1          1          0             6        1

In [735]:
# Create a trade
url = baseurl+'createTrade'

content_maketrade = {"signingKey_hex": sk,
                     "traderId": tId,
                     "verifyKey_hex": vk,
                     "marketId": mkId,
                     "price": 0.55,
                     "quantity":1}

In [736]:
# Post trade
response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)

In [737]:
response.json()

{'checks': 'True',
 'marketId': 1,
 'price': 0.55,
 'quantity': 1,
 'traderId': '1'}

In [715]:
# View json response
pd.DataFrame(response.json(), index=[0])

  checks  marketId  price  quantity traderId
0   True         1   0.55         1        1

In [716]:
# Create a matched trade
url = baseurl+'createTrade'
content_maketrade['quantity'] = -1
response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)

In [717]:
response.json()

{'checks': 'True',
 'marketId': 1,
 'price': 0.55,
 'quantity': -1,
 'traderId': '1'}

In [718]:
# Create many matched trades
url = baseurl+'createTrade'

for i in range(5):
    t = time.time()
    content_maketrade['quantity'] = -1
    response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)
    content_maketrade['quantity']=1
    response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)
    print('matched trade: ' + str(i) + ' in ' + str(time.time() - t) + ' seconds.')

matched trade: 0 in 3.1235320568084717 seconds.
matched trade: 1 in 3.3081319332122803 seconds.
matched trade: 2 in 3.0594642162323 seconds.
matched trade: 3 in 3.310116767883301 seconds.
matched trade: 4 in 3.0712039470672607 seconds.

In [719]:
url = baseurl+'createMarket'

for i in range(4):
    t = time.time()

    content_makemarket = {"signingKey_hex": sk,
      "traderId": int(tId), "verifyKey_hex": vk,
      "marketRootId": i+1, "marketBranchId": 1, "marketMin": 0, "marketMax":0.7}

    response = requests.post(url, data=json.dumps(content_makemarket), headers=headers)
    if response.json()['checks'] == 'True':
        print('market created: ' + str(i+1) + ' in ' + str(time.time() - t) + ' seconds.')
    else:
        print('failed to create market ' +str(i+1))

market created: 1 in 1.7972028255462646 seconds.
market created: 2 in 1.9834380149841309 seconds.
market created: 3 in 2.5047481060028076 seconds.
market created: 4 in 3.9689061641693115 seconds.

In [720]:
tId

'1'

In [721]:
response.json()

{'checks': 'True',
 'marketBranchId': 1,
 'marketMax': 0.7,
 'marketMin': 0,
 'marketRootId': 4,
 'traderId': 1}

In [722]:
url = baseurl+'viewMarketBounds'
content = {}
response = requests.post(url, data=json.dumps(content), headers=headers)

In [723]:
a = pd.read_json(response.json())
a

   marketId  marketRootId  marketBranchId  marketMin  marketMax
0         1             6               1          0        1.0
1         2             1               1          0        0.7
2         3             2               1          0        0.7
3         4             3               1          0        0.7
4         5             4               1          0        0.7

In [724]:
url = baseurl+'viewOrderBook'
content = {}
response = requests.post(url, data=json.dumps(content), headers=headers)

In [725]:
a = pd.read_json(response.json())
a

    marketId  price  quantity  traderId  iMatched            timeStampUTC
0          1   0.55         1         1      True 2019-01-19 08:32:09.987
1          1   0.55        -1         1      True 2019-01-19 08:32:11.585
10         1   0.55        -1         1      True 2019-01-19 08:32:25.891
11         1   0.55         1         1      True 2019-01-19 08:32:27.420
2          1   0.55        -1         1      True 2019-01-19 08:32:13.141
3          1   0.55         1         1      True 2019-01-19 08:32:14.734
4          1   0.55        -1         1      True 2019-01-19 08:32:16.314
5          1   0.55         1         1      True 2019-01-19 08:32:18.028
6          1   0.55        -1         1      True 2019-01-19 08:32:19.516
7          1   0.55         1         1      True 2019-01-19 08:32:21.095
8          1   0.55        -1         1      True 2019-01-19 08:32:22.621
9          1   0.55         1         1      True 2019-01-19 08:32:24.345

In [726]:
# Create many unmatched trades
url = baseurl+'createTrade'

for i in range(5):
    t = time.time()
    content_maketrade['quantity'] = -1
    content_maketrade['price'] = 0.43
    response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)
    print('unmatched trade: ' + str(i) + ' in ' + str(time.time() - t) + ' seconds.')

unmatched trade: 0 in 3.932340145111084 seconds.
unmatched trade: 1 in 4.424722909927368 seconds.
unmatched trade: 2 in 4.033395290374756 seconds.
unmatched trade: 3 in 3.923105001449585 seconds.
unmatched trade: 4 in 4.088846206665039 seconds.

In [727]:
response.json()

{'checks': 'True',
 'marketId': 1,
 'price': 0.43,
 'quantity': -1,
 'traderId': '1'}

In [728]:
url = baseurl+'viewOpenTrades'

content = {}
response = requests.post(url, data=json.dumps(content), headers=headers)

In [729]:
pd.read_json(response.json())

    marketId  price  quantity  traderId            timeStampUTC
12         1   0.43        -1         1 2019-01-19 08:32:56.952
13         1   0.43        -1         1 2019-01-19 08:33:01.273
14         1   0.43        -1         1 2019-01-19 08:33:05.404
15         1   0.43        -1         1 2019-01-19 08:33:09.335
16         1   0.43        -1         1 2019-01-19 08:33:13.423

In [732]:
url = baseurl+'viewMatchedTrades'
content = {}
response = requests.post(url, data=json.dumps(content), headers=headers)

In [733]:
pd.read_json(response.json())

   marketId  price  quantity  traderId timeStampUTC
0         1   0.55         0         1          NaT

In [734]:
# Create many matched trades
url = baseurl+'createTrade'

for i in range(5):
    t = time.time()
    content_maketrade['quantity'] = -1
    response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)
    content_maketrade['quantity']=1
    response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)
    print('matched trade: ' + str(i) + ' in ' + str(time.time() - t) + ' seconds.')

matched trade: 0 in 8.150084018707275 seconds.
matched trade: 1 in 8.119791984558105 seconds.
matched trade: 2 in 7.819244146347046 seconds.
matched trade: 3 in 7.987725257873535 seconds.
matched trade: 4 in 7.937460899353027 seconds.

In [ ]:
# Curl version
# Create user
curl --header "Content-Type: application/json" -X POST http://127.0.0.1:7000/createUser

        content_makemarket = {"signingKey_hex": sk,
                    "traderId": tId, 
                    "verifyKey_hex": vk,
                    "marketRootId": mkRtId, 
                    "marketBranchId": 1, 
                    "marketMin": 0,
                    "marketMax":1}
        
# Create market
curl --data '{"signingKey_hex": "ece2efc138c8298d43caba1315ceda614e20644c74d46fed37871c47ea19afdf", "traderId": 1, "verifyKey_hex": "9690a2e12971ae452d68bf3d08405090d45791533cf80740fd186aea4b6773fc", "marketRootId": 1, "marketBranchId": 5, "marketMin": 0, "marketMax": 1}' --header "Content-Type: application/json" -X POST http://localhost:7000/createMarket

    
# Create trade
curl --data '{"signingKey_hex": "ece2efc138c8298d43caba1315ceda614e20644c74d46fed37871c47ea19afdf", "traderId": 1, "verifyKey_hex": "9690a2e12971ae452d68bf3d08405090d45791533cf80740fd186aea4b6773fc", "marketId": 1, "price": 0.1212, "quantity": 1}' --header "Content-Type: application/json" -X POST http://localhost:7000/createTrade

In [738]:
content_maketrade

{'signingKey_hex': '29ba39f7fea00b2639839d7740e875e884cdb593da4b46af8d4d9af3cc212bf0',
 'traderId': '1',
 'verifyKey_hex': 'e6376aef9f29b5ba13d98f388a2463d42e58300a4438545e769dbfa2a7432f07',
 'marketId': 1,
 'price': 0.55,
 'quantity': 1}