# Python API examples


## Creates

- createUser
- createMarket
- createTrade

### Create user

Creates a new user. Returns signature and verify keys.

~~~~
import requests
url = 'https://blocmarket.herokuapp.com/createUser'
headers = {'content-type': 'application/json'}
content = {}
response = requests.post(url, data=json.dumps(content), headers=headers)
~~~~

Example return as json:

~~~~
{'signingKey': '0cca0a3739eba76cc78823d9f6e898379014d8c53172f5e45c171a3c54a9f477',
 'traderId': '1',
 'verifyKey': 'cdcfb59431b2579a681cee65656cbed6f8d578d5cc30d3e759e86c1d3e3529ef'}
~~~~
        
### Create/update market

Creates/updates a market. Returns True and market details if successful. 

Specify:
- Market root and branch id
- Minimum and maximum outcomes
- Trader Id
- Sign and verify keys

Note that sending the private key is a terrible idea. In production signing is done on client side.

~~~~
sk = '0cca0a3739eba76cc78823d9f6e898379014d8c53172f5e45c171a3c54a9f477'
vk = 'cdcfb59431b2579a681cee65656cbed6f8d578d5cc30d3e759e86c1d3e3529ef'
tId = 2

url = 'https://blocmarket.herokuapp.com/createMarket'
headers = {'content-type': 'application/json'}
content_makemarket = {"signingKey": sk,
                    "traderId": tId, 
                    "verifyKey": vk,
                    "marketRootId": 1, 
                    "marketBranchId": 1, 
                    "marketMin": 0,
                    "marketMax":1e4}

response = requests.post(url, data=json.dumps(content_makemarket), headers=headers)
~~~~

Example return as json:

~~~~
{'allChecks': "{'inputChk': True, 'marketLimitChk': True, 'traderIdChk': True, 'marketId': '1', 'marketRangeChk': True, 'marketIndChk': True, 'sigChk': True, 'chainChk': True, 'ownerChk': False, 'timeChk': True}",
 'checks': 'True',
 'marketBranchId': 1,
 'marketId': 1,
 'marketMax': 1e4,
 'marketMin': 0,
 'marketRootId': 1,
 'traderId': 2}

~~~~
    
### Create trade

Create a trade. Returns True and trade details if successful.

Specify:

- Trader Id
- Market Id
- Price
- Quantity
- Sign and verify keys

~~~~
url = 'https://blocmarket.herokuapp.com/createTrade'
headers = {'content-type': 'application/json'}
content_maketrade = {"signingKey": sk,
                     "traderId": int(tId),
                     "verifyKey": vk,
                     "marketId": mkId,
                     "price": 5510,
                     "quantity":1}
response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)



~~~~

Example return as json:
~~~~

{'allChecks': "{'inputChk': True, 'traderIdChk': True, 'marketChk': True, 'sigChk': True, 'chainChk': True, 'timeChk': True, 'colChk': True}",
 'checks': 'True',
 'marketId': 1,
 'price': 5510,
 'quantity': 1,
 'traderId': 1}


~~~~

## Views

- viewMarketBounds
- viewOrderBook
- viewOpenTrades
- viewMatchedTrades

### View markets

~~~~
url = 'https://blocmarket.herokuapp.com/viewMarketBounds'
headers = {'content-type': 'application/json'}
content = {}
response = requests.post(url, data=json.dumps(content), headers=headers)
~~~~

Example response as json:

~~~~
'{"marketId":{"0":1,"1":2,"2":3,"3":4},
"marketRootId":{"0":1,"1":2,"2":3,"3":4},
"marketBranchId":{"0":1,"1":1,"2":1,"3":1},
"marketMin":{"0":0.0,"1":0.0,"2":0.0,"3":0.0},
"marketMax":{"0":,"1":0.7,"2":0.7,"3":0.7}}'
~~~~

### View full order book

~~~~
url = 'https://blocmarket.herokuapp.com/viewOrderBook'
headers = {'content-type': 'application/json'}
content = {'marketId': 1}
response = requests.post(url, data=json.dumps(content), headers=headers, stream=True)
~~~~

Example response as json:

~~~~
'{"marketId":{"0":1,"1":1},"price":{"0":5510,"1":5510},
"quantity":{"0":1.0,"1":-1.0,"traderId":{"0":1,"1":1},
"iMatched":{"0":true,"1":true,
"timeStampUTC":{"0":1547976585838,"1":1547976602766}}'
~~~~

Using a stream is only necessary if the order book is large and the request is truncated by the server, but it doesn't do any harm.

### View open trades

~~~~
url = 'https://https://blocmarket.herokuapp.com/viewOpenTrades'
content = {'marketId': 1}
response = requests.post(url, data=json.dumps(content), headers=headers, stream=True)
~~~~

~~~~
'{"marketId":{"12":1,"15":1,"18":1,"21":1,"24":1},
"price":{"12":4300,"15":4300,"18":4300,"21":4300,"24":4300},
"quantity":{"12":-1.0,"15":-1.0,"18":-1.0,"21":-1.0,"24":-1.0},
"traderId":{"12":1,"15":1,"18":1,"21":1,"24":1},"timeStampUTC":
{"12":1547976742476,"15":1547976750344,"18":1547976758683,"21":1547976768968,"24":1547976775537}}'
~~~~

### View matched trades

~~~~
url = 'https://blocmarket.herokuapp.com/viewMatchedTrades'
headers = {'content-type': 'application/json'}
content = {'marketId': 1}
response = requests.post(url, data=json.dumps(content), headers=headers, stream=True)
~~~~

Example response as json:

~~~~
'{"marketId":{"0":1,"1":1},"price":{"0":4300,"1":5500},"quantity":{"0":0.0,"1":0.0},"traderId":{"0":1,"1":1}}'

~~~~

### View trader summary

A view joining order book and marketTable for a particular trader.

~~~~
url = 'https://blocmarket.herokuapp.com/viewTradeSummary'
headers = {'content-type': 'application/json'}
content = {'traderId': 2}
response = requests.post(url, data=json.dumps(content), headers=headers, stream=True)
~~~~

Example response as json:

~~~~
'{"marketId":{"0":1,"1":1},"price":{"0":8000,"1":5000},
"quantity":{"0":-1.0,"1":-1.0},"traderId":{"0":2,"1":2},
"iMatched":{"0":false,"1":true},
"timeStampUTC":{"0":1547982939316,"1":1547982938964},
"marketMin":{"0":0.0,"1":0.0},"marketMax":{"0":1.0,"1":1.0}}'
~~~~

# Python demonstration

In [3]:
import requests
import json
import numpy as np
import pandas as pd
import time
import datetime

%matplotlib inline
import matplotlib.pyplot as plt

# Running flask app from powershell
# $env:FLASK_APP = "api"
# $env:FLASK_ENV = "development"
# flask run

# Running flask from terminal on OSX
# export FLASK_APP=api
# export FLASK_ENV=development
# flask run

# Running with gunicorn (heroku, digitalocean, etc):
# Procfile >
# web: gunicorn wsgi --log-file -
# wsgi.py >
# from api import app as application
#
#if __name__ == "__main__":
#    application.run()

# https://devcenter.heroku.com/articles/getting-started-with-python
# https://www.digitalocean.com/community/tutorials/how-to-serve-flask-applications-with-gunicorn-and-nginx-on-ubuntu-14-04

In [4]:
baseurl = 'https://blocmarket.herokuapp.com/'
# baseurl = 'http://127.0.0.1:5000/'
baseurl = 'http://127.0.0.1:5000/'

In [11]:
# Create a new user
url = baseurl +'createUser'
headers = {'content-type': 'application/json'}
content = {}
response = requests.post(url, data=json.dumps(content), headers=headers)

In [12]:
# Copy keys and traderid from response
sk = response.json()['signingKey']
vk = response.json()['verifyKey']
tId = int(response.json()['traderId'])

In [21]:
# Create a new market
mkRtId = 1
mkBrId = 1


url = baseurl + 'createMarket'
content_makemarket = {"signingKey": sk,
                        "traderId": tId, 
                        "verifyKey": vk,
                        "marketRootId": 1, 
                        "marketBranchId": mkBrId, 
                        "marketMin": 1100,
                        "marketMax":7700}
# Post market
response = requests.post(url, data=json.dumps(content_makemarket), headers=headers)

In [22]:
# response = requests.post(url, data=json.dumps(content_makemarket), headers=headers)
# View response as json
response.json()

{'allChecks': "{'inputChk': True, 'marketLimitChk': True, 'traderIdChk': True, 'marketId': '1', 'marketRangeChk': True, 'marketIndChk': True, 'sigChk': True, 'chainChk': True, 'ownerChk': False, 'timeChk': True}",
 'checks': 'False',
 'marketBranchId': 1,
 'marketId': 1,
 'marketMax': 770,
 'marketMin': 110,
 'marketRootId': 1,
 'traderId': 4}

In [23]:
# Save market id from response
mkId = response.json()['marketId']
mkId

1

In [26]:
# Create a trade
url = baseurl+'createTrade'

content_maketrade = {"signingKey": sk,
                     "traderId": tId,
                     "verifyKey": vk,
                     "marketId": mkId,
                     "price": 5510,
                     "quantity":1}
response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)

In [28]:
# View response as json
response.json()

{'allChecks': "{'tradeId': 31, 'inputChk': True, 'traderIdChk': True, 'marketChk': True, 'sigChk': True, 'chainChk': True, 'timeChk': True, 'colChk': True}",
 'checks': 'True',
 'marketId': 1,
 'price': 551,
 'quantity': 1,
 'tradeId': 31,
 'traderId': 4}

In [1770]:
# View response as a dataframe
pd.DataFrame(response.json(), index=[0])

,allChecks,checks,marketId,price,quantity,traderId
0,"{'inputChk': True, 'traderIdChk': True, 'marke...",True,1,0.5512,1,7

In [1771]:
mId = response.json()['marketId']

In [85]:
# Create a matched trade
url = baseurl+'createTrade'
content_maketrade['quantity'] = -1
response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)

In [86]:
# View
response.json()

{'allChecks': "{'tradeId': 411, 'inputChk': True, 'traderIdChk': True, 'marketChk': True, 'sigChk': True, 'chainChk': True, 'timeChk': True, 'colChk': True}",
 'checks': 'True',
 'marketId': 1,
 'price': 0.5512,
 'quantity': -1,
 'tradeId': 411,
 'traderId': 4}

In [24]:
# Create many matched trades
url = baseurl+'createTrade'

for i in range(5):
    t = time.time()
    content_maketrade['quantity'] = -1
    response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)
    content_maketrade['quantity']=1
    response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)
    print('matched trade: ' + str(i) + ' in ' + str(time.time() - t) + ' seconds.')

NameError: name 'content_maketrade' is not defined

In [1775]:
content_maketrade

{'signingKey': '24b8812528d532171907bcd2e35543f2488e929ab99ffa62e393c24b92f4b359',
 'traderId': 7,
 'verifyKey': '6eac049b60e38db86e78f0e6789ad8889325834a8e7099ccc0de766c6853d8d9',
 'marketId': 1,
 'price': 0.5512,
 'quantity': 1}

In [1776]:
# Create many markets
url = baseurl+'createMarket'

for i in range(10):
    t = time.time()

    content_makemarket = {"signingKey": sk,
      "traderId": int(tId), "verifyKey": vk,
      "marketRootId": i+1, "marketBranchId": 1, "marketMin": 0, "marketMax":0.7}

    response = requests.post(url, data=json.dumps(content_makemarket), headers=headers)
    if response.json()['checks'] == 'True':
        print('market created: ' + str(i+1) + ' in ' + str(time.time() - t) + ' seconds.')
    else:
        print('failed to create market ' +str(i+1))

failed to create market 1
failed to create market 2
market created: 3 in 1.456376075744629 seconds.
market created: 4 in 3.02104115486145 seconds.
failed to create market 5
failed to create market 6
failed to create market 7
failed to create market 8
failed to create market 9
failed to create market 10

In [1777]:
response.json()

{'allChecks': "{'inputChk': True, 'marketLimitChk': False, 'traderIdChk': True, 'marketId': '7', 'marketRangeChk': True, 'marketIndChk': True, 'sigChk': True, 'chainChk': True, 'ownerChk': True, 'timeChk': True}",
 'checks': 'False',
 'marketBranchId': 1,
 'marketId': 7,
 'marketMax': 0.7,
 'marketMin': 0,
 'marketRootId': 10,
 'traderId': 7}

In [1778]:
# Create many sub-markets
url = baseurl+'createMarket'
marketRootId = tId

for i in range(10):
    t = time.time()

    content_makemarket = {"signingKey": sk,
      "traderId": int(tId), "verifyKey": vk,
      "marketRootId": marketRootId, "marketBranchId": 1+i, "marketMin": 0, "marketMax":0.7}

    response = requests.post(url, data=json.dumps(content_makemarket), headers=headers)
    if response.json()['checks'] == 'True':
        print('market created: ' + str(i+1) + ' in ' + str(time.time() - t) + ' seconds.')
    else:
        print('failed to create sub market ' +str(i+1))

failed to create sub market 1
failed to create sub market 2
failed to create sub market 3
failed to create sub market 4
failed to create sub market 5
failed to create sub market 6
failed to create sub market 7
failed to create sub market 8
failed to create sub market 9
failed to create sub market 10

In [1779]:
response.json()

{'allChecks': "{'inputChk': True, 'marketLimitChk': False, 'traderIdChk': True, 'marketId': '7', 'marketRangeChk': True, 'marketIndChk': True, 'sigChk': True, 'chainChk': True, 'ownerChk': True, 'timeChk': True}",
 'checks': 'False',
 'marketBranchId': 10,
 'marketId': 7,
 'marketMax': 0.7,
 'marketMin': 0,
 'marketRootId': 7,
 'traderId': 7}

In [15]:
# View maximum and minimum of each market
url = baseurl+'viewMarketBounds'
content = {}
response = requests.post(url, data=json.dumps(content), headers=headers)

In [16]:
pd.read_json(response.json())

,marketId,marketRootId,marketBranchId,marketMin,marketMax,marketDesc
0,6,5,1,0.0,1.0,"Market root : 5, branch: 1"
1,7,6,1,2500.0,4500.0,BTCUSD
2,1,1,1,0.0,1.0,This is a market with a name.
3,2,1,2,0.1,0.9,"Market root : 1, branch: 2"
4,3,2,1,0.0,1.0,"Market root : 2, branch: 1"
5,4,3,1,0.0,1.0,"Market root : 3, branch: 1"
6,5,4,1,0.0,1.0,"Market root : 4, branch: 1"

In [12]:
z = pd.read_json(response.json())
max(z['marketRootId'])

5

In [22]:
# View whole order book
url = baseurl+'viewOrderBook'
content = {'marketId': 7}
response = requests.post(url, data=json.dumps(content), headers=headers, stream=True)

In [23]:
pd.read_json(response.json())

    marketId    price  quantity  traderId  iMatched            timeStampUTC
0          7  3977.86         1         3      True 2019-03-16 14:32:18.192
1          7  3977.86        -1         3      True 2019-03-16 14:35:18.409
10         7  4062.07        -1         3      True 2019-03-16 14:38:23.015
11         7  4062.07         1         3      True 2019-03-16 14:41:23.222
12         7  3986.54         1         3      True 2019-03-16 14:41:25.477
13         7  3986.54        -1         3      True 2019-03-16 14:44:25.676
14         7  4067.08        -1         3      True 2019-03-16 14:41:25.575
15         7  4067.08         1         3      True 2019-03-16 14:44:25.773
16         7  3985.36         1         3      True 2019-03-16 14:44:27.871
17         7  3985.36        -1         3      True 2019-03-16 14:48:41.231
18         7  4065.88        -1         3      True 2019-03-16 14:44:27.967
19         7  4065.88         1         3      True 2019-03-16 14:48:41.569
2          7  4058.22        -1         3      True 2019-03-16 14:32:18.295
20         7  3985.86         1         3      True 2019-03-16 14:48:44.604
21         7  3985.86        -1         3      True 2019-03-16 16:05:58.768
22         7  4066.38        -1         3      True 2019-03-16 14:48:44.945
23         7  4066.38         1         3      True 2019-03-16 16:05:59.147
24         7  3972.45         1         3      True 2019-03-16 16:06:00.907
25         7  3972.45        -1         3      True 2019-03-16 16:09:01.526
26         7  4052.71        -1         3      True 2019-03-16 16:06:01.259
27         7  4052.71         1         3      True 2019-03-16 16:09:01.766
28         7  3973.85         1         3      True 2019-03-16 16:09:03.370
29         7  3973.85        -1         3      True 2019-03-16 16:12:03.812
3          7  4058.22         1         3      True 2019-03-16 14:35:18.512
30         7  4054.13        -1         3      True 2019-03-16 16:09:03.608
31         7  4054.13         1         3      True 2019-03-16 16:12:04.001
32         7  3973.95         1         3      True 2019-03-16 16:12:05.497
33         7  3973.95        -1         3      True 2019-03-16 16:15:05.878
34         7  4054.23        -1         3      True 2019-03-16 16:12:05.689
35         7  4054.23         1         3      True 2019-03-16 16:15:06.057
36         7  3980.74         1         3      True 2019-03-16 21:32:02.108
37         7  3980.74        -1         3      True 2019-03-16 21:35:02.323
38         7  4061.16        -1         3      True 2019-03-16 21:32:02.222
39         7  4061.16         1         3      True 2019-03-16 21:35:02.421
4          7  3978.60         1         3      True 2019-03-16 14:35:20.710
40         7  3980.43         1         3      True 2019-03-16 21:35:03.979
41         7  3980.43        -1         3      True 2019-03-16 21:38:04.181
42         7  4060.85        -1         3      True 2019-03-16 21:35:04.078
43         7  4060.85         1         3      True 2019-03-16 21:38:04.281
44         7  3980.40         1         3      True 2019-03-16 21:38:05.673
45         7  3980.40        -1         3      True 2019-03-16 21:41:05.877
46         7  4060.82        -1         3      True 2019-03-16 21:38:05.769
47         7  4060.82         1         3      True 2019-03-16 21:41:05.975
48         7  3980.26         1         3      True 2019-03-16 21:41:07.541
49         7  3980.26        -1         3      True 2019-03-16 21:44:07.751
5          7  3978.60        -1         3      True 2019-03-16 14:38:20.908
50         7  4060.66        -1         3      True 2019-03-16 21:41:07.642
51         7  4060.66         1         3      True 2019-03-16 21:44:07.853
52         7  3981.37         1         3     False 2019-03-16 21:44:09.164
53         7  4061.81        -1         3     False 2019-03-16 21:44:09.264
6          7  4058.98        -1         3      True 2019-03-16 14:35:20.806
7          7  4058.98         1         3      True 2019-03-16 14:38:21.004
8          7  3981.63         1         3      True 2019-03-16 14:38:22.917
9          7  3981.63        -1         3      True 2019-03-16 14:41:23.125

In [1686]:
content_makemarket

{'signingKey': 'b25c2f2b781b9057f7782cdf473b8908b7d80f5f3cf1af73fb7f852969f0610a',
 'traderId': 9,
 'verifyKey': 'af4e6327d832a47871259f754d90d1ea5ed019a2614479dd4677f05a03091306',
 'marketRootId': 9,
 'marketBranchId': 10,
 'marketMin': 0,
 'marketMax': 0.7}

In [1687]:
# Create many unmatched trades
url = baseurl+'createTrade'

for i in range(5):
    t = time.time()
    content_maketrade['quantity'] = -1
    content_maketrade['price'] = 0.43
    response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)
    print('unmatched trade: ' + str(i) + ' in ' + str(time.time() - t) + ' seconds.')

unmatched trade: 0 in 1.8239548206329346 seconds.
unmatched trade: 1 in 1.7473399639129639 seconds.
unmatched trade: 2 in 1.9287259578704834 seconds.
unmatched trade: 3 in 1.80330491065979 seconds.
unmatched trade: 4 in 1.7138910293579102 seconds.

In [1688]:
a = response.json()
a

{'allChecks': "{'inputChk': True, 'traderIdChk': True, 'marketChk': True, 'sigChk': True, 'chainChk': True, 'timeChk': True, 'colChk': True}",
 'checks': 'True',
 'marketId': 1,
 'price': 0.43,
 'quantity': -1,
 'traderId': 9}

In [41]:
# View all open (unmatched trades)
url = baseurl+'viewOpenTrades'

content = {'marketId': 25}
response = requests.post(url, data=json.dumps(content), headers=headers)

In [42]:
pd.read_json(response.json())

       tradeId  marketId  price  quantity  traderId            timeStampUTC
21843    21844        25   0.22         1       106 2019-04-20 01:16:16.884

In [1728]:
# View matched trades (summed over marketId/price/traderId)
url = baseurl+'viewMatchedTrades'
content = {'marketId': mkId}
response = requests.post(url, data=json.dumps(content), headers=headers, stream=True)

In [1729]:
pd.read_json(response.json())

     marketId    price  quantity  traderId
0           1  3617.66         0         1
1           1  3618.27         0         1
10          1  3622.36         0         1
100         1  3638.49         0         1
101         1  3638.56         0         1
102         1  3638.78         0         1
103         1  3639.78         0         1
104         1  3640.18         0         1
105         1  3640.48         0         1
106         1  3640.60         0         1
107         1  3640.78         0         1
108         1  3641.12         0         1
109         1  3641.91         0         1
11          1  3623.96         0         1
110         1  3642.01         0         1
111         1  3642.18         0         1
112         1  3642.48         0         1
113         1  3642.60         0         1
114         1  3642.70         0         1
115         1  3642.71         0         1
116         1  3642.93         0         1
117         1  3642.95         0         1
118         1  3643.12         0         1
119         1  3643.19         0         1
12          1  3624.24         0         1
120         1  3643.29         0         1
121         1  3643.42         0         1
122         1  3643.45         0         1
123         1  3643.49         0         1
124         1  3643.67         0         1
..        ...      ...       ...       ...
72          1  3635.60         0         1
73          1  3635.64         0         1
74          1  3635.65         0         1
75          1  3635.66         0         1
76          1  3635.86         0         1
77          1  3635.87         0         1
78          1  3635.99         0         1
79          1  3636.05         0         1
8           1  3622.11         0         1
80          1  3636.12         0         1
81          1  3636.15         0         1
82          1  3636.21         0         1
83          1  3636.48         0         1
84          1  3636.49         0         1
85          1  3636.56         0         1
86          1  3636.76         0         1
87          1  3636.79         0         1
88          1  3637.39         0         1
89          1  3637.44         0         1
9           1  3622.24         0         1
90          1  3637.60         0         1
91          1  3637.64         0         1
92          1  3637.65         0         1
93          1  3637.78         0         1
94          1  3637.86         0         1
95          1  3637.87         0         1
96          1  3637.99         0         1
97          1  3638.05         0         1
98          1  3638.21         0         1
99          1  3638.48         0         1

[552 rows x 4 columns]

In [1693]:
# Create many matched trades (own)
url = baseurl+'createTrade'

for i in range(5): 
    t = time.time()
    content_maketrade['quantity'] = -1
    response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)
    content_maketrade['quantity']=1
    response = requests.post(url, data=json.dumps(content_maketrade), headers=headers)
    print('matched trade: ' + str(i) + ' in ' + str(time.time() - t) + ' seconds.')

matched trade: 0 in 3.894613027572632 seconds.
matched trade: 1 in 3.630260944366455 seconds.
matched trade: 2 in 3.622703790664673 seconds.
matched trade: 3 in 3.7874691486358643 seconds.
matched trade: 4 in 3.651853084564209 seconds.

In [39]:
# View summary of trader for a particular trader
url = baseurl+'viewTradeSummary'
content = {'traderId': int(106)}
response = requests.post(url, data=json.dumps(content), headers=headers, stream=True)

In [40]:
pd.read_json(response.json())

,tradeId,marketId,price,quantity,traderId,iMatched,timeStampUTC,marketRootId,marketBranchId,marketMin,marketMax,marketMinOutcome,marketMaxOutcome
0,21822,1,0.32,-1,106,False,2019-04-13 06:10:02.922,1,1,0.11,0.7,0.21,-0.38
1,21823,1,0.32,-1,106,False,2019-04-13 06:10:11.425,1,1,0.11,0.7,0.21,-0.38
10,21832,1,0.44,1,106,True,2019-04-13 10:31:23.846,1,1,0.11,0.7,-0.33,0.26
11,21833,1,0.50,-1,106,False,2019-04-13 10:45:22.193,1,1,0.11,0.7,0.39,-0.20
12,21834,1,0.50,-1,106,False,2019-04-13 15:02:04.530,1,1,0.11,0.7,0.39,-0.20
13,21835,1,0.10,1,106,False,2019-04-13 15:02:53.352,1,1,0.11,0.7,0.01,0.60
14,21836,1,0.32,4,106,False,2019-04-13 15:45:28.696,1,1,0.11,0.7,-0.84,1.52
15,21837,1,0.32,4,106,False,2019-04-13 22:19:48.301,1,1,0.11,0.7,-0.84,1.52
16,21838,1,0.50,-1,106,False,2019-04-17 23:21:41.715,1,1,0.11,0.7,0.39,-0.20
17,21839,1,0.32,4,106,False,2019-04-17 23:22:56.029,1,1,0.11,0.7,-0.84,1.52
18,21840,1,0.50,-1,106,False,2019-04-18 05:20:46.591,1,1,0.11,0.7,0.39,-0.20
19,21841,1,0.32,4,106,False,2019-04-18 05:20:59.796,1,1,0.11,0.7,-0.84,1.52
2,21824,1,0.50,1,106,True,2019-04-13 08:27:55.093,1,1,0.11,0.7,-0.39,0.20
20,21842,1,0.10,1,106,False,2019-04-18 05:22:26.347,1,1,0.11,0.7,0.01,0.60
21,21843,1,0.22,1,106,False,2019-04-20 00:54:14.283,1,1,0.11,0.7,-0.11,0.48
22,21844,25,0.22,1,106,False,2019-04-20 01:16:16.884,4,2,0.00,0.7,-0.22,0.48
3,21826,1,0.23,1,106,True,2019-04-13 08:34:36.914,1,1,0.11,0.7,-0.12,0.47
4,21827,1,0.50,1,106,True,2019-04-13 08:35:42.165,1,1,0.11,0.7,-0.39,0.20
5,21825,1,0.23,-1,106,True,2019-04-13 08:31:47.368,1,1,0.11,0.7,0.12,-0.47
6,21828,1,0.44,1,106,True,2019-04-13 08:38:31.664,1,1,0.11,0.7,-0.33,0.26
7,21829,1,0.50,-1,106,False,2019-04-13 08:50:35.942,1,1,0.11,0.7,0.39,-0.20
8,21830,1,0.23,1,106,True,2019-04-13 10:18:34.890,1,1,0.11,0.7,-0.12,0.47
9,21831,1,0.50,-1,106,False,2019-04-13 10:19:03.794,1,1,0.11,0.7,0.39,-0.20

In [1732]:
# Get a signed UTC timestamp
url = baseurl+'getSignedUTCTimestamp'
content = {}
response = requests.get(url, data=json.dumps(content), headers=headers)

In [1733]:
response.json()

{'timeStampUTC': '2019-02-16 07:49:04.637195',
 'timeStampUTCSignature': 'b\'\\x17\\x86\\xf8@\\x94\\xd9j\\xec\\xcfe\\x84\\xe1s\\\'F~q\\xf0MQ\\x92\\xeaqLU\\xe5\\x8c}K"\\xc0L\\x19\\x8e.\\xbe\\x8f\\x0er\\xe1\\x18e\\xba\\xa2\\xec\\xf6\\x00%\\x9e\\xc7N\\x02P\\xc8\\xc2\\xfd\\xc9\\x16\\x14\\x89/\\x845\\r\'',
 'verifyKey': 'cdcfb59431b2579a681cee65656cbed6f8d578d5cc30d3e759e86c1d3e3529ef'}

In [84]:
# View summary of trader for a particular trader
url = baseurl+'viewTickHistory'
content = {'marketId': int(25), 'startTime': datetime.datetime(2019,1,1).timestamp()*1000, 'endTime': 2e9*1000}
response = requests.post(url, data=json.dumps(content), headers=headers, stream=True)

In [85]:
pd.read_json(response.json())

,tickType,tradeId,xTradeId,marketId,price,quantity,traderId,iMatched,timeStampUTC
0,BID,21844,NaN,25,0.22,1,106,False,2019-04-20 01:16:16.884
1,BID,21846,NaN,25,0.22,1,106,False,2019-04-20 02:58:55.533
2,BID,21849,NaN,25,0.21,1,106,False,2019-04-20 03:55:36.494
3,ASK,21850,21851.0,25,0.40,-5000,106,True,2019-04-20 04:22:00.203
4,ASK,21845,NaN,25,0.30,-1,106,False,2019-04-20 02:56:04.743
5,ASK,21847,NaN,25,0.27,-1,106,False,2019-04-20 03:04:51.502
6,ASK,21848,NaN,25,0.22,-1,106,True,2019-04-20 03:06:04.533
7,TRADE,21848,NaN,25,0.22,-1,106,True,2019-04-20 03:06:04.533

In [93]:
np.int64(30)

36


# Curl API examples



## Create user

~~~~
curl --header "Content-Type: application/json" -X POST http://blocmarket.herokuapp.com/createUser
~~~~
        
## Create market

~~~~
curl --data '{"signingKey_hex": "ece2efc138c8298d43caba1315ceda614e20644c74d46fed37871c47ea19afdf",
"traderId": 1, 
"verifyKey_hex": "9690a2e12971ae452d68bf3d08405090d45791533cf80740fd186aea4b6773fc",
"marketRootId": 1, 
"marketBranchId": 5, 
"marketMin": 0, 
"marketMax": 1}' 
--header "Content-Type: application/json" -X POST http://blocmarket.herokuapp.com/createMarket
~~~~
    
## Create trade

~~~~
curl --data '{"signingKey_hex": "ece2efc138c8298d43caba1315ceda614e20644c74d46fed37871c47ea19afdf",
"traderId": 1, 
"verifyKey_hex": "9690a2e12971ae452d68bf3d08405090d45791533cf80740fd186aea4b6773fc",
"marketId": 1,
"price": 0.1212,
"quantity": 1}' --header "Content-Type: application/json" -X POST http://blocmarket.herokuapp.com/createTrade

~~~~
        
## View order book (output to file)

~~~~
curl --header "Content-Type: application/json" -X POST http://blocmarket.herokuapp.com/viewOrderBook --output ob.txt
~~~~    
        
Also can load json from file with something like 
~~~~ 
curl -d "@data.json" -X POST http://blocmarket.herokuapp.com/data 
~~~~


# Matlab API examples


## Create user

~~~~
resp = webread('http://blocmarket.herokuapp.com/createUser')

~~~~

Returns something like

~~~~
'{"signingKey": '57f611e7cb7c5d4123be69663ccd06442c64db1a4f1161399dbb1b9bb6cc0e06'
           "traderId": '2'
      "verifyKey": 'ddaa5b0119a4ccfeffa36be0e6aac3682f798d021d5ded1d90512f2226e727b5'}'
~~~~

## Create market

~~~~
data = struct('signingKey', signingKey,...
'traderId', tId, ...
'verifyKey', verifyKey ,...
'marketRootId', 2, ...
'marketBranchId', 1, ...
'marketMin', 0.01, ...
'marketMax', 1)
resp = webwrite('http://blocmarket.herokuapp.com/createMarket', data, weboptions('RequestMethod', 'post','MediaType', 'application/json'))
~~~~

Returns something like

~~~~
'{
             "checks": 'True'
     "marketBranchId": 1
          "marketMax": 1
          "marketMin": 0.0100
       "marketRootId": 2
           "traderId": 1
}'
~~~~
## Create trade

~~~~
data = struct('signingKey', signingKey,...
'traderId', tId,...
'verifyKey', verifyKey ,...
'marketId', 1,...
'price', 0.51,...
'quantity', 1)
resp = webwrite('http://blocmarket.herokuapp.com/createTrade', data, weboptions('MediaType', 'application/json'))
~~~~

Returns something like
~~~~
'{
       "checks": 'True'
     "marketId": 1
        "price": 0.5100
     "quantity": 1
     "traderId": 1
 '}S
~~~~

## View market bounds
~~~~
data = struct('marketId', 1)
resp = webwrite('http://blocmarket.herokuapp.com/viewMarketBounds', data, weboptions('RequestMethod', 'post','contentType', 'json', 'Timeout', 10))
~~~~

## View order book
~~~~
data = struct('marketId':1)
resp = webwrite('http://blocmarket.herokuapp.com/viewOrderBook', data, weboptions('RequestMethod', 'post','contentType', 'json'), 'Timeout', 10)
~~~~

## View trade summary

~~~~
data = struct('traderId',1);
resp = webwrite('http://blocmarket.herokuapp.com/viewTradeSummary', data, weboptions('RequestMethod', 'post','MediaType', 'application/json', 'Timeout', 10))
~~~~


# Powershell

TODO

test cases with mismatched traderId/verifyKey
views to specific market
javascript/powershell for api
enforce max decimals DONE
table based checkcollateral
put up on digitalocean

write up another layer of trading interface